body {
    background-image: url('fondo2.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

.circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        width: 500px;
        height: 500px;
        background-color: #2390A1;
        border: 4px solid #05353B;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 30px;
}

.header {
    font-size: 20px;
}

p {
    width: 300px;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.button {
    height: 35px;
    text-decoration: none;
    color: initial;
    background-color:#AFB4B8;
    border: 2px solid #787C7E;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover {
    height: 45px;
    width: 95px;
    border-radius: 20px;
}