<app-header>
</app-header>
<div class="flex">
  <form>
    <h1>Formulario de Contacto</h1>
    <label for="nombreL">Nombre: </label>
    <input type="text" name="nombreI" placeholder="Escribe tu nombre" />
    <br>
    <br>
    <label for="apellidos">Apellidos: </label>
    <input type="text" name="apellidoI" placeholder="Escribe tu apellido" />
    <br>
    <br>
    <label for="correoL">Correo electrónico: </label>
    <input type="text" name="correoI" placeholder="ejemplo@gmail.com" />
    <br>
    <br>
    <label for="tipoIncidencia">¿Cual es el motivo de contacto? </label>
    <br>
    <input type="radio" name="tipoIncidencia" value="T" />Trabajo<br />
    <input type="radio" name="tipoIncidencia" value="D" />Dudas<br />
    <input type="radio" name="tipoIncidencia" value="O" checked />Otro<br />
    <br>
    <label for="observacionesL">Observaciones: </label>
    <br>
    <textarea name="observacionesT"></textarea>
    <br>
    <input class="button" type="submit" value="Enviar" />
    <input class="button" type="reset" value="Reiniciar" />
  </form>
</div>
