<header class="header">
    <div class="headerVideo">
        <img class="headerImage" src='/src/assets/headerv4.gif'/>
    </div>

    <div class="headerText">
        <h1><strong>Enrique Tortosa Haro</strong>
        </h1>
        <h4>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Full Stack
            Developer
        </h4>
    </div>
    <div class="headerCurriculum">
        <br>
        <h1 onclick="location.href='#main'"><strong>Curriculum</strong></h1>
            <div class="flechaDiv" onclick="location.href='#main'">
                <img class="flechaImg" src="/src/assets/flecha.png"/>
            </div>
    </div>
</header>
