<header class="header">
  <div class="headerVideo">
    <img class="headerImage" src='../assets/headerv4.gif' />
  </div>

  <div class="headerText">
    <h1><strong>Enrique Tortosa Haro</strong>
    </h1>
    <h4>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Full Stack
      Developer
    </h4>
  </div>
  <div class="headerCurriculum">
    <br>
    <h1 onclick="location.href='#main'"><strong>Curriculum</strong></h1>
    <div class="flechaDiv" onclick="location.href='#main'">
      <img class="flechaImg" src="../assets/flecha.png" />
    </div>
  </div>
</header>
<main id="main">
  <div>
    <div class="titleD">
      <img class="imgC" src="../assets/personaI.png" />
      <h1>&#160;Perfil</h1>
    </div>
    <p class="perfilText"><img class="fotoPG" src="../assets/foto.png" alt="foto" /><br><br>
        Actualmente finalizando los estudios en <strong>Ingeniería Informática</strong> en
        la Universidad Politécnica de Valencia en busca de una empresa
        donde poder realizar las prácticas y desarrollar mi futura carrera
        profesional.
        <br>
        <br>
        Me considero una persona con una actitud positiva y con voluntad
        y motivación para aprender nuevas habilidades en la informática,
        también soy una persona responsable y ambiciosa con las cosas
        que se propone.
        <br>
        <br>
        Mis ambiciones en el mundo laboral es crecer como Ingeniero
        Informatico a la vez que aprendo y aporto en la Empresa, en mis
        ratos libres me gusta hacer deporte

      <img class="fotoPQ" src="../assets/foto.png" alt="foto" />
    </p>
  </div>
  <hr class="borderStyle" />

  <div class="titleD">
    <img class="imgC" src="../assets/libro.png">
    <h1>&#160;Estudios</h1>
  </div>
  <ul>
    <li>
      <strong>Bachiller de Ciencias</strong>, Colegío la Concepción (Ontinyent) 2016-2018
    </li>
    <li>
      <strong>Grado en Ingeniería Informática</strong>: Tecnologías de la Información,en la UPV. 2018-2022
    </li>
  </ul>

  <hr class="borderStyle" />

  <div class="titleD">
    <img class="imgC" src="../assets/bombilla.png">
    <h1>&#160;Conocimientos</h1>
  </div>
  <ul>
    <li>
      <p class="titleListC"><strong>Front-End</strong>
        <p>
          <ul class="iconList">
            <li><a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank"><img class="imgList"
                  src="../assets/css.png" alt="CSS"></a></li>
            <li><a href="https://developer.mozilla.org/es/docs/Glossary/HTML5" target="_blank"><img class="imgList"
                  src="../assets/html5.png" alt="HTML5"></a></li>
            <li><a href="https://www.javascript.com/" target="_blank"><img class="imgList" src="../assets/js.png"
                  alt="js"></a></li>
            <li><a href="https://vuejs.org/" target="_blank"><img class="imgList" src="../assets/vue.png"
                  alt="vuejs"></a></li>
            <li><a href="https://es.reactjs.org/" target="_blank"><img class="imgList" src="../assets/react.png"
                  alt="react"></a></li>
          </ul>
    </li>
    <li>
      <p class="titleListC"><strong>Back-End</strong>
        <p>
          <ul class="iconList">
            <li><a href="https://www.java.com/es/" target="_blank"><img class="imgList" src="../assets/java.png"
                  alt="java"></a></li>
            <li><a href="https://nodejs.org/es/" target="_blank"><img class="imgList" src="../assets//node.png"
                  alt="nodejs"></a></li>
            <li><a href="https://solidity-es.readthedocs.io/es/latest/" target="_blank"><img class="imgList"
                  src="../assets/solidity.png" alt="solidity"></a></li>
            <li><a href="https://spring.io/" target="_blank"><img class="imgList" src="../assets/spring.png"
                  alt="spring"></a></li>
          </ul>
    </li>
    <li>
      <p class="titleListC"><strong>Sistemas y Redes</strong>
        <p>
          <ul class="iconList">
            <li><a href="https://www.cisco.com/c/es_es/index.html/" target="_blank"><img class="imgList"
                  src="../assets/cisco.png" alt="cisco"></a></li>
            <li><a href="https://www.docker.com/" target="_blank"><img class="imgList" src="../assets/docker.png"
                  alt="docker"></a></li>
            <li><a href="https://www.proxmox.com/en/" target="_blank"><img class="imgList" src="../assets/proxmox.png"
                  alt="proxmox"></a></li>
            <li><a href="https://www.centos.org/" target="_blank"><img class="imgList" src="../assets/centos.png"
                  alt="centOS"></a></li>
            <li><a href="https://www.truenas.com/" target="_blank"><img class="imgList" src="../assets/truenas.png"
                  alt="trueNAS"></a></li>
            <li><a
                href="https://docs.microsoft.com/es-es/windows-server/identity/ad-ds/get-started/virtual-dc/active-directory-domain-services-overview"
                target="_blank"><img class="imgList" src="../assets/ad.png" alt="ad"></a></li>
          </ul>
    </li>
  </ul>

  <hr class="borderStyle">

  <div class="titleD">
    <img class="imgC" src="../assets/idioma.png">
    <h1>&#160;Idiomas</h1>
  </div>
  <ul>
    <li> Castellano Nativo </li>
    <li> Valenciano Nativo </li>
    <li> Inglés B2 </li>
  </ul>

  <hr class="borderStyle">

  <div class="titleD">
    <img class="imgC" src="../assets/idioma.png">
    <h1>&#160;Contacto</h1>
  </div>
  <ul class="contactList">
    <li><strong>Teléfono</strong>:&#160;678236612 </li>
    <li><strong>Correo Electrónico</strong>:&#160;quiquetortosaharo@gmail.com</li>
    <li><strong>Discord:</strong>:&#160;Toxxii#3061</li>
  </ul>
</main>
<footer>
  <ul class="footerList">
    <li><a href="../assets/cv.pdf" target="_blank"><img class="footerImgList" src="../assets/pdf.png"
          alt="curriculum"></a></li>
    <li><a href="https://www.linkedin.com/in/enrique-tortosa-haro-74493422a/" target="_blank"><img class="footerImgList"
          src="../assets/linkedin.png" alt="Linkedin"></a></li>
    <li><a href="https://github.com/QuiqueTortosa" target="_blank"><img class="footerImgList" src="../assets/github.png"
          alt="Github"></a></li>
  </ul>
</footer>
